body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.calculator {
    width: 400px;
    text-align: center;
    border: 2px solid #2980b9;
    border-radius: 10px;
    background-color: #ecf0f1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.calculator #display {
    width: calc(100% - 50px);
    padding: 10px;
    font-size: 32px;
    margin-bottom: 20px;
    border: 1px solid #bdc3c7;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.calculator .keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}
.calculator button {
    padding: 20px;
    font-size: 24px; 
    border: none;
    cursor: pointer;
    background-color: #7a9cd6; 
    color: white; 
    border-radius: 5px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}
.calculator button:hover {
    background-color: #27ae60;
}